@charset 'UTF-8';
@use 'mixins';

.lgmembersweek {

	.experience {

		.tab {

			&__panel {

				&--homekeeping {

					.showroom {

						&__item {
							background-image: url('../images/it/bg_showroom_homekeeping01.png');
						}
					}
				}

				&--energysaving {

					.showroom {

						&__item {
							background-image: url('../images/it/bg_showroom_energysaving01.png');
						}
					}
				}
			}
		}
	}

	.product {

		&__price {

			div {
				display: flex;
				flex-direction: column;
			}
		}

		&__info {
			.unit {
				margin-left: -5px;
			}
		}
	}
}