@charset 'UTF-8';
@use 'mixins';

.lgmembersdays {

	.visual {

		&__visual {
			background-image: url('../images/bg_visual.png');
		}

		@media (max-width: 1023px) {
			
			&__visual {
				background-image: url('../images/m_bg_visual.png');
			}
		}
		@media (max-width: 1024px) {

			.desc {

				&:not(:last-child) {
					margin-bottom: 4px;
				}

				& + .desc:not(.desc--secondary) {
					margin-top: 12px;
				}
			}		
		}
	}

	.product__discount,
	.product__price {
		.unit {
			margin-left: -8px;
		}
	}
}