@charset 'UTF-8';
@use 'mixins';

.lgmembersweek {
	.benefit {

		.coupon {

			&__coupon {
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				.coupon-list {
					flex: 1;

					&__item {
						height: 100%;
					}
				
					&__row {
						display: block;
						height: 100%;
						padding-top: 90px;
						text-align: center;
	
						p {
							font-size: 80px;
						}
	
						span {
							display: block;
							margin-top: 5px;
							color: #FD312E;
							font-size: 30px;
							letter-spacing: -1.04px;
						}
					}
	
					&__contents {
						margin-top: 40px;
					}
				}
			}

			&__benefit {
				padding-top: 50px;
				padding-bottom: 60px;

				.benefit-list {

					&__item {
						
						&:not(:first-child) {
							margin-top: 50px;
							padding-top: 50px;
						}

						i {
							margin-bottom: 20px;
						}
					}
				}
			}
		}
	}

	.offer {

		.item-set {

			&__item {

				&:last-child {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					row-gap: 5px;
				}

				.highlight {
					font-size: 80px;
				}
			}
		}
	}

	.experience {
		.tab__panel {
			&--homekeeping {
				.showroom__layer {
					&:nth-child(1) {
						left: 43.5%;
    				top: 51.88%;
					}
					&:nth-child(2) {
						left: 74.2%;
    				top: 15.81%;
					}
				}
			}
			&--working {
				.showroom__layer {
					&:nth-child(1) {
						left: 36%;
						top: 47.31%;
					}
					&:nth-child(2) {
						left: 63.42%;
    				top: 49.81%;
					}
					&:nth-child(3) {
						left: 63.42%;
    				top: 80.81%;
					}
				}
			}
			&--energysaving {
				.showroom__layer {
					&:nth-child(1) {
						left: 56.67%;
    				top: 45.85%;
					}
					&:nth-child(2) {
						left: 66.83%;
    				top: 26.81%;
					}
					&:nth-child(3) {
						left: 66.83%;
    				top: 63.81%;
					}
				}
			}
		}

		.tab {
			@media screen and (max-width: 768px) {
				.product__price {
					height: 50px;
				}
				.product__members {
					display: flex;
					flex-direction: column;
					gap: 5px;
				}
			}
		}

		// .tab__panel--entertaiment .showroom__item {
		// 	background-image: url(../images/de/bg_showroom_entertaiment01.png);
		// }
		// .tab__panel--gaming .showroom__item {
		// 	background-image: url(../images/de/bg_showroom_gaming01.png);
		// }
		// .tab__panel--homekeeping .showroom__item {
		// 	background-image: url(../images/de/bg_showroom_homekeeping01.png);
		// }
		// .tab__panel--working .showroom__item {
		// 	background-image: url(../images/de/bg_showroom_working01.png);
		// }
		// .tab__panel--energysaving .showroom__item {
		// 	background-image: url(../images/de/bg_showroom_energysaving01.png);
		// }
	}
	@media (max-width: 1024px) {
		.visual__term {
			bottom: -21px;
		}

	}
}