@charset 'UTF-8';
@use 'mixins';

@font-face {
	font-family:'LG Smart UI';
	src: url('../fonts/LGSmartUI-Bold.woff2') format('woff2');
	font-weight:700;
	font-style:normal;
}
@font-face {
	font-family:'LG Smart UI';
	src: url('../fonts/LGSmartUI-SemiBold.woff2') format('woff2');
	font-weight:600;
	font-style:normal;
}
@font-face {
	font-family:'LG Smart UI';
	src: url('../fonts/LGSmartUI-Regular.woff2') format('woff2');
	font-weight:400;
	font-style:normal;
}
@font-face {
	font-family:'LG Smart UI';
	src: url('../fonts/LGSmartUI-Light.woff2') format('woff2');
	font-weight:300;
	font-style:normal;
}

.lgmembersdays {
	position: relative;
	color: #000;
	overflow: hidden;
	* {
		font-weight: 400;
		font-family: 'LG Smart UI', "Segoe UI","Microsoft Sans Serif",sans-serif;
	}
	
	figure {
		margin: 0;
	}

	p {
		margin: 0;
	}

	a {
		color: inherit;
		&:hover {
			text-decoration: none;
		}
	}
	button {
		outline: none;
	}

	em {
		font-style: normal;
	}

	.visual {

		&__visual {
			position: relative;
			min-height: 500px;
			padding: 80px 20px 167px;
			background: {
				image: url('../images/bg_visual.png');
				repeat: no-repeat;
				position: 50% 50%;
				size: cover;
			}
		}

		&__inner {
			max-width: 1440px;
			margin: 0 auto;
		}

		&__logo {
			margin-bottom: 8px;
			font-size: 20px;
			line-height: 24px;
		}

		&__date {
			margin-top: 24px;
			font-weight: 300;
			font-size: 36px;
			line-height: 42px;
		}

		&__bottom {
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			row-gap: 20px;

			.button {

				&__item {
					padding: 0 24px;
					background-color: #fff;
					color: #000;
					font-weight: 700;
					font-size: 16px;
				}
			}
		}

		.desc {
			font-size: 16px;
			line-height: 20px;

			&:not(:last-child) {
				margin-bottom: 8px;
			}
		}

		.term {
			margin-top: 24px;
		}

		@media (max-width: 1024px) {
			
			&__visual {
				padding: 24px 25px 276px;
				background-image: url('../images/m_bg_visual.png');
				background-color: #E5E1D6;
				background-position: center bottom;
				background-size: 100%;
			}

			&__inner {
				top: 24px;
				text-align: center;
			}

			&__logo {
				font-size: 14px;
				line-height: 16px;
			}

			&__date {
				margin-top: 12px;
				font-size: 24px;
				line-height: 28px;
			}

			.title {
				font-size: 36px;
				line-height: 42px;
			}

			.term {
				margin-top: 12px;
				display: flex;
				justify-content: center;
			}
		}
	}

	.main {
		background-color: #F0ECE4;
	}

	.benefit-more {

		&:not(:first-child) {
			margin-top: 20px;
		}

		&__row {
			display: flex;
			column-gap: 20px;
		}

		&__item {
			display: flex;
			flex: 1;
			padding: 32px;
			border-radius: 28px;
			background-color: #fff;

			&:nth-child(1) {

				.benefit-more__ico {
					background-image: url('../images/ico_benefit01.svg');
				}
			}

			&:nth-child(2) {

				.benefit-more__ico {
					background-image: url('../images/ico_benefit02.svg');
				}
			}

			&:nth-child(3) {

				.benefit-more__ico {
					background-image: url('../images/ico_benefit03.svg');
				}
			}

			.benefit-more__group {
				flex: 1;
			}

			.title {
				font-size: 36px;
				line-height: 42px;
			}

			.desc {
				font-size: 16px;
				line-height: 20px;
			}
		}

		&__ico {
			width: 64px;
			height: 64px;
			background-repeat: no-repeat;
			background-position: 0 0;
			background-size: 100% 100%;
		}

		@media (max-width: 1024px) {

			&:not(:first-child) {
				margin-top: 12px;
			}
			
			&__row {
				display: block;
			}

			&__item {
				column-gap: 12px;
				min-height: 108px;
				padding: 20px;
				border-radius: 16px;

				&:not(:first-child) {
					margin-top: 8px;
				}

				.title {
					font-size: 24px;
					line-height: 28px;
				}
	
				.desc {
					font-size: 14px;
					line-height: 16px;
				}
			}
		}
	}

	.section {
		padding: 48px 20px 64px;
		border-top: 1px solid #CBC8C2;

		&--notborder {
			border-top: 0;
		}

		&__inner {
			max-width: 1440px;
			margin: 0 auto;
		}

		&__header {
			display: flex;
			align-items: center;
			column-gap: 24px;

			.section__group {
				flex: 1;
			}

			.button {

				&__item {
					width: 116px;
					height: 63px;
					font-size: 20px;
				}
			}
		}

		.term {

			&:not(:first-child) {
				margin-top: 20px;
			}
		}

		@media (max-width: 1024px) {
			padding: 24px 16px;

			&__header {
				display: block;

				.button {
					margin-top: 12px;

					&__item {
						flex: none;
						width: 88px;
						height: 44px;
						font-size: 16px;
					}
				}
			}
		}
	}

	.title {
		font-weight: 300;
		font-size: 56px;
		line-height: 60px;
		
		&:not(:last-child) {
			margin-bottom: 8px;
		}

		&--center {
			text-align: center;
		}

		@media (max-width: 1024px) {
			font-size: 28px;
			line-height: 32px;
		}
	}

	.desc {
		color: #333;
		font-size: 24px;
		line-height: 28px;
		font-weight: 300;

		&:not(:last-child) {
			margin-bottom: 20px;
		}

		&--center {
			text-align: center;
		}

		@media (max-width: 1024px) {
			font-size: 16px;
			line-height: 18px;

			&:not(:last-child) {
				margin-bottom: 12px;
			}
		}
	}

	.term {

		a {
			display: inline-flex;
			justify-content: center;
			font-weight: 600;
			font-size: 16px;
			line-height: 16px;

			i {
				margin-left: 10px;
				@include mixins.iconAngle($direction: 'right', $width: 10px, $height: 18px, $thick: 2px, $color: #000, $display: block, $position: relative);
			}
		}

		@media (max-width: 1024px) {
			
			a {
				font-size: 12px;
				line-height: 14px;

				i {
					margin-left: 2px;
					@include mixins.iconAngle($direction: 'right', $width: 7px, $height: 15px, $thick: 2px, $color: #000, $display: block, $position: relative);
				}
			}
		}
	}

	.product {

		&__list {
			display: grid;
			row-gap: 24px;
			grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
			margin-top: 20px;
			// &:not(:first-child) {
			// 	margin-top: 20px;
			// }
		}

		&__item {
			position: relative;
			margin: 0 12px;
			padding: 52px 24px 24px;
			border-radius: 28px;
			background-color: #fff;
		}

		&__flag {
			position: absolute;
			justify-content: center;
			align-items: center;
			position: absolute;
			left: -8px;
			top: 12px;
			padding: 8px 11px 8px 12px;
			border-radius: 8px 8px 8px 0;
			background: transparent linear-gradient(90deg, #363636 0%, #727272 6%, #363636 12%, #1A1A1A 100%) 0% 0% no-repeat padding-box;
			color: #ccc;
			font-family: 'LG EI HD';
			font-weight: 600;
			font-size: 14px;
			line-height: 20px;
			text-align: center;
			box-shadow: 0px 2px 0px #4E4E4E29;

			&:before {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				bottom: -8px;
				width: 8px;
				height: 8px;
				background: transparent linear-gradient(90deg, #363636 0%, #727272 100%, #363636 12%, #1A1A1A 100%) 0% 0% no-repeat padding-box;
			}

			&:after {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				bottom: -16px;
				width: 8px;
				height: 16px;
				border-radius: 8px 0 0 8px;
				background-color: #000;
			}

			span {
				font-family: inherit;
				margin: 0 2px;
				color: #fff;
				font-weight: 700;
				line-height: inherit;
			}
		}

		&__sn {
			color: #646464;
			font-size: 16px;
			line-height: 20px;
		}

		&__name {
			display: block;
			height: 56px;
			font-size: 24px;
			line-height: 28px;
			@include mixins.ellipse(2);
		}

		&__img {
			margin: 16px 0;
			text-align: center;

			img {
				width: 100%;
				max-width: 200px;
				max-height: 200px;
			}
		}

		&__soldout {
			margin-bottom: 4px;
			font-size: 24px;
			line-height: 28px;
		}

		&__group {
			display: flex;
			align-items: center;

			.product__belt {
				margin-left: 4px;
			}

			.product__members {
				margin-left: 8px;

				span {
					display: block;
					font-size: 16px;
					line-height: 16px;

					&:first-child {
						color: #646464;
						margin-bottom: -1px;
					}
				}
			}
		}

		&__discount {
			color: #999;
			font-size: 16px;
			line-height: 1;
			text-decoration: line-through;
		}

		&__belt {
			display: flex;
			align-items: center;
			column-gap: 2px;
			height: 24px;
			padding: 0 8px;
			border-radius: 100vw;
			background-color: #FFC834;
			font-weight: 500;
			font-family: 'LG EI HD';
			font-size: 14px;
			line-height: 20px;

			span {
				font-family: inherit;
				font-weight: 600;
				font-size: inherit;
			}
		}
		
		&__price {
			min-height: 32px;
			font-weight: 600;
			font-size: 32px;
			line-height: 32px;
		}

		&__members {
			font-size: 14px;
		}

		.button {
			margin-top: 16px;
		}

		.slick {
			
			&-list {
				margin: 0 81px;

				.product__item {
					margin: 0;
				}
			}

			&-slide {
				margin: 0 12px !important;

				> div:not([class]):nth-child(1) {
					margin-bottom: 24px;
				}

				img {
					display: inline;
				}
			}

			&-arrow {
				position: absolute;
				top: 50%;
				width: 64px;
				height: 64px;
				margin-top: -32px;
				border: 0;
				border-radius: 100%;
				background-color: rgba(0, 0, 0, 0.6);
				background-repeat: no-repeat;
				background-position: 50% 50%;
				cursor: pointer;
			}

			&-prev {
				left: 0;
				background-image: url('../images/ico_arrow_left.svg');
			}

			&-next {
				right: 0;
				background-image: url('../images/ico_arrow_right.svg');
			}
			
			&-disabled {
				background-color: rgba(0, 0, 0, 0.1);
			}
		}
		
		@media (max-width: 1024px) {

			&__list {
				grid-template-columns: 1fr;
				grid-gap: 10px;
			}

			&__item {
				padding: 48px 24px 24px;
				border-radius: 20px;
			}

			&__sn {
				font-size: 12px;
				line-height: 14px;
			}

			&__name {
				height: 47px;
				font-size: 20px;
				line-height: 24px;
			}

			&__img {
				margin: 12px 0;
			}

			&__soldout {
				font-size: 20px;
				line-height: 24px;
			}

			&__discount {
				font-size: 12px;
			}

			&__belt {
				height: 22px;
				font-size: 12px;
			}

			&__price {
				font-size: 28px;
				line-height: 28px;
			}

			&__members {
				font-size: 12px;
			}

			.button {
				margin-top: 12px;
			}

			.slick {

				&-list {
					margin: 0 -21px;
					padding: 0 16px;
				}

				&-slide {
					margin: 0 5px !important;

					> div:not([class]):nth-child(1) {
						margin: 0;
					}
				}

				&-arrow {
					z-index: 10;
					width: 44px;
					height: 44px;
					margin-top: -22px;
					background-size: 8px 15px;
				}

				&-prev {
					left: 24px;
				}

				&-next {
					right: 24px;
				}
			}
		}
	}

	.button {
		
		&__row {
			display: flex;
			align-items: center;
			column-gap: 8px;
		}

		&__item {
			display: flex;
			align-items: center;
			justify-content: center;
			flex: 1;
			height: 44px;
			border: 0;
			border-radius: 100vw;
			background-color: #FD312E;
			color: #fff;
			font-weight: 600;
			font-size: 16px;
			text-align: center;
			line-height: 1.1;

			&--secondary {
				border: 1px solid #646464;
				background-color: #fff;
				color: #000;
			}
			
			&--tertiary {
				background-color: #000;
			}
		}
	}

	.tab {

		&:not(:first-child) {
			margin-top: 32px;
		}

		&__list {
			display: flex;
			column-gap: 36px;
		}

		&__button {
			position: relative;
			padding: 0;
			border: 0;
			border-radius: 0;
			background-color: transparent;
			color: #000;
			font-size: 20px;
			line-height: 24px;
			cursor: pointer;

			&:before {
				content: '';
				display: none;
				position: absolute;
				left: 0;
				bottom: -4px;
				width: 100%;
				height: 2px;
				background-color: #EA1917;
			}

			&--selected,
			&:hover {
				
				&:before {
					display: block;
				}
			}
		}

		&__contents {
			margin-top: 28px;
		}

		&__panel {
			display: none;

			&--opened {
				display: block;
			}

			.product {

				&__list {
					margin-left: -93px;
					margin-right: -93px;
				}

				&__visual {
					padding-top: 8px;
				}

				> .button {

					&:not(:first-child) {
						margin-top: 48px;
					}

					.button__row {
						justify-content: center;
					}

					.button__item {
						flex: none;
						height: 68px;
						padding: 0 28px;
						font-size: 24px;
					}
				}
			}
		}

		@media (max-width: 1024px) {

			&:not(:first-child) {
				margin-top: 36px;
			}
			
			&__list {
				padding-bottom: 4px;
				column-gap: 24px;
				overflow-x: auto;
				white-space: nowrap;
			}

			&__button {
				font-size: 16px;
				line-height: 20px;
			}

			&__panel {

				.product {
					
					&__list {
						margin-left: 0;
						margin-right: 0;
					}

					&__visual {
						padding-top: 0;
						margin: 0 -16px;

						.img {
							
							img {
								border-radius: 0;
							}
						}
					}

					> .button {

						&:not(:first-child) {
							margin-top: 24px;
						}
	
						.button__item {
							height: 44px;
							padding: 0 20px;
							font-size: 16px;
						}
					}
				}
			}
		}
	}

	.list-item {

		&:not(:first-child) {
			margin-top: 20px;
		}
		
		&__row {
			display: flex;
			column-gap: 24px;
		}

		&__item {
			flex: 1;

			.title {
				font-size: 36px;
				line-height: 42px;
			}
		}

		&__button {
			display: block;
			width: 44px;
			height: 44px;
			background: url('../images/ico_anchor.svg') no-repeat 0 0;
			background-size: 100% 100%;

			&:not(:first-child) {
				margin-top: 24px;
			}
		}

		@media (max-width: 1024px) {

			&:not(:first-child) {
				margin-top: 12px;
			}
			
			&__row {
				display: block;
			}

			&__item {

				&:not(:first-child) {
					margin-top: 24px;
				}

				.title {
					font-size: 28px;
					line-height: 32px;
				}
			}

			&__button {
	
				&:not(:first-child) {
					margin-top: 16px;
				}
			}
		}
	}

	.img {

		&:not(:last-child) {
			margin-bottom: 20px;
		}

		&__pc {
			display: inline;
		}
		
		&__mo {
			display: none;
		}

		img {
			width: 100%;
			height: 100%;
			border-radius: 28px;
		}

		@media (max-width: 1024px) {

			&:not(:last-child) {
				margin-bottom: 12px;
			}

			&__pc {
				display: none;
			}

			&__mo {
				display: inline;
			}
			
			img {
				border-radius: 16px;
			}
		}
	}

	.banner {

		&:not(:first-child) {
			margin-top: 20px;
		}

		&__banner {
			min-height: 500px;
			padding: 80px 80px 0;
			border-radius: 28px;
			background-image: url('../images/bg_banner01.png');
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: cover;

			.desc {
				font-size: 16px;
				line-height: 20px;

				&:not(:first-child) {
					margin-bottom: 24px;
				}
			}

			.button__item {
				flex: none;
				padding: 0 20px;
			}
		}

		@media (max-width: 1024px) {

			margin: 0 -16px;
			
			&:not(:first-child) {
				margin-top: 12px;
			}

			&__banner {
				min-height: 480px;
				padding: 24px 25px 0;
				border-radius: 0;
				background-image: url('../images/m_bg_banner01.png');
				text-align: center;

				.title {
					font-size: 36px;
					line-height: 42px;
				}

				.desc {
					line-height: 18px;

					&:not(:last-child) {
						margin-bottom: 12px;
					}
				}

				.button {

					&__row {
						justify-content: center;
					}

					&__item {
						height: 36px;
						padding: 0 16px;
						font-size: 14px;
					}
				}
			}
		}
	}

	.break-mobile {
		font: inherit;

		@media (max-width: 1024px) {
			display: block;
		}
	}

	#sectionBuy {
		.tab {
			margin-top: 64px;
		}
	}

	/* Slider */
	.slick-slider
	{
			position: relative;

			display: block;
			box-sizing: border-box;

			-webkit-user-select: none;
				-moz-user-select: none;
					-ms-user-select: none;
							user-select: none;

			-webkit-touch-callout: none;
			-khtml-user-select: none;
			-ms-touch-action: pan-y;
					touch-action: pan-y;
			-webkit-tap-highlight-color: transparent;
	}

	.slick-list
	{
			position: relative;

			display: block;
			overflow: hidden;

			margin: 0;
			padding: 0;
	}
	.slick-list:focus
	{
			outline: none;
	}
	.slick-list.dragging
	{
			cursor: pointer;
			cursor: hand;
	}

	.slick-slider .slick-track,
	.slick-slider .slick-list
	{
			-webkit-transform: translate3d(0, 0, 0);
				-moz-transform: translate3d(0, 0, 0);
					-ms-transform: translate3d(0, 0, 0);
					-o-transform: translate3d(0, 0, 0);
							transform: translate3d(0, 0, 0);
	}

	.slick-track
	{
			position: relative;
			top: 0;
			left: 0;

			display: block;
			margin-left: auto;
			margin-right: auto;
	}
	.slick-track:before,
	.slick-track:after
	{
			display: table;

			content: '';
	}
	.slick-track:after
	{
			clear: both;
	}
	.slick-loading .slick-track
	{
			visibility: hidden;
	}

	.slick-slide
	{
			display: none;
			float: left;

			height: 100%;
			min-height: 1px;
	}
	[dir='rtl'] .slick-slide
	{
			float: right;
	}
	.slick-slide img
	{
			display: block;
	}
	.slick-slide.slick-loading img
	{
			display: none;
	}
	.slick-slide.dragging img
	{
			pointer-events: none;
	}
	.slick-initialized .slick-slide
	{
			display: block;
	}
	.slick-loading .slick-slide
	{
			visibility: hidden;
	}
	.slick-vertical .slick-slide
	{
			display: block;

			height: auto;

			border: 1px solid transparent;
	}
	.slick-arrow.slick-hidden {
			display: none;
	}
}