@charset 'UTF-8';
@use 'mixins';

.lgmembersdays {
	position: relative;
	color: #000;
	overflow: hidden;
	line-height: 1;
	* {
		font-family: 'LG Smart UI', "Segoe UI","Microsoft Sans Serif",sans-serif;
		// weight: 300, 400, 600, 700
	}
	
	figure {
		margin: 0;
	}

	p {
		margin: 0;
	}

	a {
		color: inherit;
		&:hover {
			text-decoration: none;
		}
	}
	button {
		outline: none;
	}

	em {
		font-style: normal;
	}

	.visual {

		&__visual {
			// height: 640px;
			position: relative;
			padding-top: 33.4%;
			min-height: 640px;
			background: url('../images/bg_visual.png') no-repeat 50% 50% #000;
			background-size: cover;
		}

		&__inner {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			display: flex;
			flex-direction: column;
			justify-content: center;
			max-width: 1600px;
			width: 100%;
			height: 100%;
			margin: 0 auto;
			color: #fff;
		}

		&__logo {
			margin-bottom: 20px;
			font-size: 30px;
			font-weight: 300;
		}

		&__bottom {
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			row-gap: 20px;

			.button {

				&__item {
					padding: 0 24px;
					background-color: #fff;
					color: #000;
					font-weight: 700;
					font-size: 16px;
				}
			}
			
			.term {

				i {
					@include mixins.iconAngle($direction: 'right', $width: 8px, $height: 16px, $thick: 2px, $color: #fff, $display: block, $position: relative);
				}
			}
		}

		.desc {
			margin-bottom: 25px !important; 
			color: #999;
			font-weight: 300;
		}

		@media (max-width: 1024px) {
			
			&__visual {
				// height: 540px;
				height: 90vh;
				min-height: auto;
				background: url('../images/m_bg_visual.png') no-repeat 50% 100% #000;
				background-size: cover;
				padding-top: 0;
			}

			&__inner {
				 padding: 30px 20px 0;
				 justify-content: flex-start;
			}

			&__logo {
				margin-bottom: 12px;
				font-size: 20px;
			}

			&__bottom {
				column-gap: 10px;

				.button {

					&__item {
						padding: 0 16px;
						font-size: 16px;
					}
				}
			}

			.title {
				font-size: 36px;

				&:not(:last-child) {
					margin-bottom: 16px;
					font-size: 34px;
					line-height: 40px;
				}
			}
		}
	}

	.main {
		padding: 0 30px;
		background-color: #F0ECE4;

		&__inner {
			max-width: 1420px;
			margin: 0 auto;
			padding: 40px 0 188px;
		}

		@media (max-width: 1024px) {
			padding: 0 16px;

			&__inner {
				padding: 20px 0 80px;
			}
		}
	}

	.benefit {
		
		&__container {
			padding: 50px 80px;
			border-radius: 20px;
			background-color: #fff;
		}

		&__row {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.title {
				font-size: 56px;
			}

			> .button {
				display: none;
			}
		}

		@media (max-width: 1024px) {
			
			&__container {
				padding: 40px 32px 32px;
			}

			&__row {
				display: block;

				.title {
					font-size: 32px;
					text-align: center;
				}

				.desc {
					text-align: center;
				}

				> .button {
					display: block;
					margin-top: 32px;
				}
			}

			.coupon {
				margin-top: 24px;
			}
		}
	}

	.benefit-more {

		&__row {
			display: flex;
			column-gap: 20px;
		}

		&__item {
			flex: 1;
			min-height: 150px;
			padding: 30px;
			border-radius: 20px;
			background-color: #fff;

			&:nth-child(1) {

				.benefit-more__ico {
					background-image: url('../images/ico_benefit01.png');
				}
			}

			&:nth-child(2) {

				.benefit-more__ico {
					background-image: url('../images/ico_benefit02.png');
				}
			}

			&:nth-child(3) {

				.benefit-more__ico {
					background-image: url('../images/ico_benefit03.png');
				}
			}            
		}

		&__group {
			display: flex;
			justify-content: space-between;
		}

		&__text {
			font-size: 24px;
			line-height: 26px;
		}

		&__ico {
			width: 60px;
			height: 60px;
			background-repeat: no-repeat;
			background-position: 0 0;
			background-size: 100% 100%;
		}

		@media (max-width: 1024px) {
			
			&__row {
				display: block;
			}

			&__item {
				min-height: 140px;
				padding: 24px;

				&:not(:first-child) {
					margin-top: 10px;
				}
			}

			&__text {
				font-size: 20px;
				line-height: 24px;
			}
		}
	}

	.coupon {
		display: flex;
		position: relative;
		width: 500px;
		height: 260px;

		&:before {
			content: '';
			display: block;
			position: absolute;
			left: 11px;
			top: 11px;
			width: 100%;
			height: 100%;
			background-color: #2B2822;
			filter: blur(20px);
			opacity: 0.2;
		}

		&__left {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			flex: 1;
			position: relative;
			padding: 0 30px;
			border-radius: 30px 0 0 0;
			background:
				radial-gradient(circle 20px at top right, #0000 100%, #fff) top right,
				radial-gradient(circle 20px at bottom right ,#0000 100%, #fff) bottom right;
			background-size: 100% 50%;
  		background-repeat: no-repeat;

			.coupon__title {
				margin-bottom: 10px;
				color: #262626;
				font-weight: 600;
				font-size: 24px;
			}

			.coupon__group {
				display: flex;
				align-items: flex-end;
				column-gap: 12px;
				color: #262626;
				font-size: 60px;
				letter-spacing: -4.8px;

				em {
					font-family: 'Arial Black';
					font-size: 80px;
					line-height: 1;

					span {
						margin-left: 6px;
						font-weight: 700;
						font-size: 60px;
						line-height: 60px;
					}
				}
			}

			.button {
				width: 100%;
				margin-top: 30px;
			}
		}

		&__right {
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			width: 110px;
			border-radius: 0 0 30px 0;
			background: 
				radial-gradient(circle 20px at top left, #0000 100%, #CEC8BD) top left,
				radial-gradient(circle 20px at bottom left ,#0000 100%, #CEC8BD) bottom left;
			background-size: 100% 50%;
  		background-repeat: no-repeat;
			
			p {
				font-weight: 600;
				letter-spacing: 10px;
				@include mixins.transform(matrix(0, -1, 1, 0, 0, 0));
				white-space: nowrap;
				opacity: 0.2;
			}
		}

		@media (max-width: 1024px) {
			width: 100%;
			height: 150px;

			&__left {
				border-radius: 20px 0 0 0;
				background: 
					radial-gradient(circle 12px at top right, #0000 100%, #fff) top right,
					radial-gradient(circle 12px at bottom right ,#0000 100%, #fff) bottom right;
				background-size: 100% 50%;
				background-repeat: no-repeat;

				.coupon__title {
					margin-bottom: 10px;
					font-size: 14px;
				}
	
				.coupon__group {
					column-gap: 5px;
					font-size: 36px;
					letter-spacing: -1.44px;
					@media screen and (max-width: 400px) {
						font-size: 24px;
					}
	
					em {
						font-size: 48px;
	
						span {
							margin-left: 2px;
							font-size: 36px;
							line-height: 36px;
						}
					}
				}

				.button {
					display: none;
				}
			}

			&__right {
				width: 66px;
				border-radius: 0 0 20px 0;
				background: 
					radial-gradient(circle 12px at top left, #0000 100%, #CEC8BD) top left,
					radial-gradient(circle 12px at bottom left ,#0000 100%, #CEC8BD) bottom left;
				background-size: 100% 50%;
  			background-repeat: no-repeat;

				p {
					font-size: 12px;
				}
			}
		}
	}

	.section {
		margin-top: 80px;

		.term {

			&:not(:first-child) {
				margin-top: 20px;
			}
		}

		@media (max-width: 1024px) {
			margin-top: 60px;
		}
	}

	.title {
		font-weight: 300;
		font-size: 60px;
		line-height: 70px;
		
		&:not(:last-child) {
			margin-bottom: 12px;
		}

		&--center {
			text-align: center;
		}

		&--secondary {
			padding-left: 30px;
			font-size: 32px;
			line-height: 1;
		}

		@media (max-width: 1024px) {
			font-size: 32px;
			line-height: 1;

			&--secondary {
				padding-left: 0;
				font-size: 28px;

				&:not(:last-child) {
					margin-bottom: 16px;
				}
			}
		}
	}

	.desc {
		color: #4A4946;
		font-size: 24px;
		line-height: 28px;

		&:not(:last-child) {
			margin-bottom: 40px;
		}

		&--center {
			text-align: center;
		}

		@media (max-width: 1024px) {
			font-size: 16px;
			line-height: 20px;

			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
	}

	.term {
		text-align: right;

		a {
			display: inline-flex;
			justify-content: center;
			font-size: 14px;

			i {
				margin-left: 10px;
				@include mixins.iconAngle($direction: 'right', $width: 8px, $height: 16px, $thick: 2px, $color: #000, $display: block, $position: relative);
			}
		}
	}

	.tab {

		&__list {
			display: flex;
			justify-content: center;
			column-gap: 10px;
		}
		
		&__item {
			width: 280px;
			height: 48px;
		}

		&__item--active {

			.tab__button {
				border-color: #000;
				background-color: #000;
				color: #fff;
			}
		}

		&__button {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			border: 1px solid rgba(0, 0, 0, 0.3);
			border-radius: 26px;
			font-weight: 700;
			font-size: 16px;
		}

		&__contents {
			margin-top: 40px;
		}

		.best-item {

			&__row {
				display: flex;
				clip-path: inset(0 round 20px);
			}

			&__item {
				flex: 1;
				height: 460px;
				text-align: center;

				&:first-child {
					background-color: #E6E1D6;
				}

				> img {
					max-width: 490px;

					&:first-child {
						margin-top: 32px;
					}
				}
			}

			&__text {
				font-weight: 500;
				font-size: 24px;

				&:not(:first-child) {
					margin-top: 12px;
				}
			}

			&__img {
				width: 100%;
				height: 100%;
				
				img {
					width: 100%;
					height: 100%;
				}
			}
		}

		.product {
			&:not(:first-child) {
				margin-top: 40px;
			}
		}

		@media (max-width: 1024px) {

			&__list {
				column-gap: 8px;
			}

			&__item {
				flex: 1;
				// max-width: 70px;
				height: 44px;
			}

			&__button {
				// display: inline-flex;
				font-size: 14px;
				padding-left: 5px;
				padding-right: 5px;
				text-align: center;
			}

			&__contents {
				margin-top: 20px;
			}

			.best-item {
				
				&__row {
					display: block;
				}

				&__item {
					height: 233px;

					> img {
						max-width: 191px;

						&:first-child {
							margin-top: 16px;
						}
					}
				}

				&__text {
					font-size: 20px;
				}
			}
		}
	}

	.product {

		&__list {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(0, 340px));
			grid-gap: 20px;
		}
		&__item {
			position: relative;
			padding: 40px 24px 24px;
			border-radius: 20px;
			background-color: #fff;
		}

		&__img {
			text-align: center;

			img {
				width: 100%;
				max-width: 160px;
				max-height: 160px;
			}
		}

		&__flags {
			display: flex;
			grid-gap: 4px;
			position: absolute;
			top: 16px;
			left: 16px;
			right: 16px;
		}

		&__flag {
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			height: 20px;
			padding: 0 9px;
			border-radius: 100vw;
			background-color: #333;
			color: #fff;
			font-weight: 700;
			font-size: 11px;
			line-height: 15px;
			text-align: center;
		}

		&__info {
			margin-top: 40px;

			.product__highlight {
				color: #FD312E;
				font-size: 14px;
			}
		}

		&__name {
			display: block;
			height: 36px;
			font-size: 16px;
			line-height: 20px;
			@include mixins.ellipse(2);
		}

		&__sn {
			margin-top: 8px;
			color: #666;
			font-size: 14px;
		}
		
		&__price {
			display: flex;
			align-items: center;
			column-gap: 8px;
			margin-top: 20px;
			> div {
				display: flex;
				flex-direction: column;
				gap: 5px;
			}
		}

		&__cost {
			font-weight: 600;
			font-size: 26px;
		}

		&__discount {
			color: #999;
			font-size: 14px;
			text-decoration: line-through;
		}

		&__members {
			margin-top: 4px;
			height: 30px;
			font-size: 14px;

			.product__text {
				font-size: 14px;
			}

			.product__noti {
				.product__text {
					font-size: inherit;
				}
			}

			.product__alert {
				margin-top: 4px;
			}
		}

		&__alert {
			display: flex;
			align-items: baseline;
			column-gap: 4px;
			color: #FD312E;
			font-size: 11px;

			span {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 12px;
				height: 12px;
				border: 1px solid #FD312E;
				border-radius: 50%;
				font-size: 10px;
			}
		}

		&__bottom {
			display: flex;
			align-items: center;
			column-gap: 8px;
			margin-top: 4px;

			.learn-more {
				flex: 1;
			}

			.button {
				flex: 1;

				&__item {
					height: 44px;
					font-size: 14px;
				}
			}
		}
		
		@media (max-width: 1024px) {

			&__list {
				// margin: -2.56vw 0 0 -2.56vw;
				grid-template-columns: 1fr 1fr;
				grid-gap: 10px;
			}

			&__item {
				padding: 20px 16px 16px;
			}

			&__img {
				text-align: center;
				
				img {
					max-width: 140px;
					max-height: 140px;
				}
			}

			&__flags {
				left: 10px;
				top: 10px;
			}

			&__flag {
				height: 16px;
				font-size: 10px;
				line-height: 13px;
				&:before {
					bottom: -7px;
					border-left-width: 5px;
					border-top-width: 7px;
				}
			}

			&__info {
				margin-top: 30px;
			}

			&__name {
				height: 48px;
				font-size: 14px;
				line-height: 16px;
				@include mixins.ellipse(3);
			}

			&__sn {
				margin-top: 4px;
				font-size: 12px;
			}

			&__price {
				display: block;
				margin-top: 12px;

				> div {
					line-height: 12px;
				}
			}

			&__cost {
				font-size: 24px;
			}

			&__discount {
				font-size: 12px;
			}

			&__members {
				line-height: 12px;

				.product__text {
					font-size: 12px;
				}
			}

			&__bottom {
				flex-direction: column;
				row-gap: 8px;
				margin-top: 16px;

				.button {
					flex: none;
					width: 100%;
				}

				.learn-more {
					flex: none;
					width: 100%;
				}
			}
		}
	}

	.new__paging {
		display: flex;
		justify-content: center;
		column-gap: 6px;

		&:not(:first-child) {
			margin-top: 40px;
		}

		&__item, li {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 32px;
			height: 32px;
			border: 1px solid #6B6B6B;
			color: #6B6B6B;
			font-weight: 600;
			font-size: 14px;

			&:hover,
			&--active {
				background-color: #6B6B6B;
				color: #fff;
			}
		}
		.slick-active {
			background-color: #6B6B6B;
			color: #fff;
		}

		@media (max-width: 1024px) {

			&:not(:first-child) {
				margin-top: 32px;
			}
		}
	}

	.button {
		
		&__row {
			display: flex;
			align-items: center;
		}

		&__item {
			display: flex;
			align-items: center;
			justify-content: center;
			flex: 1;
			height: 48px;
			border: 0;
			border-radius: 100vw;
			background-color: #FD312E;
			color: #fff;
			font-weight: 700;
			font-size: 16px;
			text-align: center;
			padding-left: 10px;
			padding-right: 10px;

			&--secondary {
				background-color: #000;
			}
			&--lightgray {
				background-color: #6b6b6b;
			}
		}

		@media (max-width: 1024px) {

			&__item {
				height: 44px;
				font-size: 14px;
				line-height: 1;
			}
		}
	}

	.learn-more {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 44px;
		border: 1px solid #716F6A;
		border-radius: 100vw;
		font-weight: 700;
		font-size: 14px;

		&__link {
			font-weight: 600;
			font-size: 14px;
		}

		@media (max-width: 1440px) {

			&__link {
				font-size: 12px;
			}
		}

		@media (max-width: 1024px) {

			&__link {
				font-size: 13px;
			}
		}
	}

	.slick-slider {
		position: relative;
		display: block;
		box-sizing: border-box;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-touch-callout: none;
		-khtml-user-select: none;
		-ms-touch-action: pan-y;
		touch-action: pan-y;
		-webkit-tap-highlight-color: transparent;
	}
	.slick-list {
		position: relative;
		display: block;
		overflow: hidden;
		margin: 0;
		padding: 0;
	}
	.slick-list:focus {
		outline: none;
	}
	.slick-list.dragging {
		cursor: pointer;
		cursor: hand;
	}
	.slick-slider .slick-track,
	.slick-slider .slick-list {
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.slick-track {
		position: relative;
		top: 0;
		left: 0;
		display: block;
		// margin-left: auto;
		// margin-right: auto;
	}
	.slick-track:before,
	.slick-track:after {
		display: table;
		content: '';
	}
	.slick-track:after {
		clear: both;
	}
	.slick-loading .slick-track {
		visibility: hidden;
	}
	.slick-slide {
		display: none;
		float: left;
		height: 100%;
		min-height: 1px;
	}
	[dir='rtl'] .slick-slide {
		float: right;
	}
	.slick-slide.slick-loading img {
		display: none;
	}
	.slick-slide.dragging img {
		pointer-events: none;
	}
	.slick-initialized .slick-slide {
		display: flex;
		@media screen and (max-width: 1024px) {
			display: block;
		}
	}
	.slick-loading .slick-slide {
		visibility: hidden;
	}
	.slick-vertical .slick-slide {
		display: block;
		height: auto;
		border: 1px solid transparent;
	}
	.carousel-nav.slick-hidden, 
	.slick-arrow.slick-hidden {
		display: none;
	}
	.slick-arrow,
	.carousel-nav {
		position: absolute;
		z-index: 10;
		top: 50%;
		margin-top: -26px;
		border: 0;
		// background-repeat: no-repeat;
		// background-position: 0 0;
		// background-size: 100% 100%;
		background-color: transparent;
		cursor: pointer;
	}
	.slick-disabled {
		opacity: 0.4;
	}
	.slick-dots {
		display: flex;
		justify-content: center;
		position: absolute;
		left: 0;
		bottom: 3.66%;
		z-index: 10;
		width: 100%;
		li {
			width: 12px;
			height: 12px;
			margin: 0 5px;
			@include mixins.transition(.2s, ease);
			&.slick-active {
				width: 25px;
				button {
					background-color: #fff;
				}
			}
			button {
				display: block;
				width: 100%;
				height: 100%;
				padding: 0;
				border: 1.5px solid #fff;
				border-radius: 6px;
				background-color: rgba(0,0,0,.3);
				outline: none;
				font-size: 0;
				line-height: 0;
				cursor: pointer;
			}
		}
		@media (max-width: 1024px) {
			li {
				width: 8px;
				height: 8px;
			}
		}
	}
}