@charset 'UTF-8';
@use 'mixins';

.lgmembersdays {

	.visual {

		&__visual {
			background-image: url('../images/bg_visual.png');
		}

		@media (max-width: 1023px) {

			&__visual {
				background-image: url('../images/m_bg_visual.png');
			}
		}
	}

	.benefit-more {

		&__row {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 24px;
		}

		&__item {

			&:nth-child(1) {

				.benefit-more__ico {
					background-image: url('../images/ico_benefit01.svg');
				}
			}

			&:nth-child(2) {

				.benefit-more__ico {
					background-image: url('../images/ico_benefit02.svg');
				}
			}

			&:nth-child(3) {

				.benefit-more__ico {
					background-image: url('../images/ico_benefit03.svg');
				}
			}

			&:nth-child(4) {

				.benefit-more__ico {
					background-image: url('../images/ico_benefit04.svg');
				}
			}
		}

		@media (max-width: 1024px) {

			&__row {
				display: block;
			}
		}
	}

	.product__discount,
	.product__price {
		.unit {
			margin-left: -8px;
		}
	}
}