@charset 'UTF-8';
@use 'mixins';

.lgmembersdays {

	.visual__visual {
		@media (max-width: 1024px) {
			height: 580px;
		}
	}

	.list-item {

		&__item {

			.title,
			.desc {

				span {
					display: block;
					color: #4A4946;
					font-size: 14px;
					line-height: 16px;
				}
			}

			.desc {

				span {
					margin-top: 4px;
				}
			}
		}

		@media (max-width: 1024px) {
			
			&__item {

				.title,
				.desc {

					span {
						margin-top: 0;
						color: inherit;
						font-weight: inherit;
						font-size: inherit;
						line-height: inherit;
					}
				}
			}
		}
	}
	.sectionBuying {
		.product {
			.slick-list {
				@media screen and (min-width: 1024px) {
					.slick-slide {
						margin: 0 !important;
					}
					.product__item {
						width: calc((100% / 4) - 18px) !important;
						margin-left: 24px;
						&:nth-child(1),
						&:nth-child(4n + 1) {
							margin-left: 0;
						}
					}
				}
			}
		}
	}
}