@charset 'UTF-8';
@use 'mixins';

.lgmembersweek {

	.visual {
		&__logo {
			margin-bottom: 5px;
			font-size: 35px;

			@media screen and (max-width:1024px) {
				font-size: 18px;
			}
		}
		&__desc:not(:first-child) {
			max-width:38%;
			line-height: 28px;
			@media screen and (max-width:1024px) {
				max-width:100%;
				line-height: 20px;
			}
		}

		&__rolling {

			.slick {

				&-track {
					align-items: flex-start;
					transition: width 900ms ease, transform 900ms ease !important;
				}

				&-slide {
					white-space: nowrap;
					width: max-content !important;
					display: inline-block !important;
				}
			}
		}
		&__visual {
			position: relative;
			@media (min-width: 1024px) {
				height: 100vh;
			}
		}
		&__term {
			position: absolute;
			margin-top: 0;
			bottom: 5%;
			@media (max-width: 1024px) {
				position: relative;
				margin-top: 28vh;
			}
		}
	}

	.benefit {

		.coupon {

			&__coupon {
				grid-column: 1 /3;

				.coupon-list {
				
					&__coupon {
	
						p {
							font-size: 38px;
						}
					}

					&__item {

						&:not(:last-child) {

							&:after {
								content: '';
								display: block;
								position: absolute;
								left: 50%;
								bottom: -12px;
								width: 24px;
								height: 24px;
								margin-left: -12px;
								background-color: #000;
								background-image: url('../images/ico_plus.svg');
								background-repeat: no-repeat;
								background-position: 50% 50%;
								background-size: 10px 10px;
								border-radius: 50%;
							}
						}
					}
				}
			}

			&__title {
				max-width: 320px;
				margin-left: auto;
				margin-right: auto;
			}

			&__row {
				grid-template-columns: 1fr 600px;
			}

			&__premier {
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 50px 50px 40px;
				border-radius: 40px;
				background-color: #F6F3EB;
				color: #000;
				text-align: center;

				.coupon {
					
					&__text {
						max-width: 452px;
						margin-top: 10px;
						font-size: 20px;
						line-height: 24px;
					}
				}

				.list {
					margin-top: 38px;

					&__item {
						display: flex;
						align-items: center;
						column-gap: 24px;
						position: relative;
						padding: 18px 0;

						&:not(:last-child) {

							p {

								&:before {
									content: '';
									display: block;
									position: absolute;
									left: 136px;
									right: 0;
									bottom: 0;
									height: 1px;
									background-image: linear-gradient(to right, rgba(0, 0, 0, .5) 2px, rgba(255, 255, 255, 0) 0);
									background-position: bottom;
									background-size: 6px 1px;
									background-repeat: repeat-x;
								}
							}
						}

						&:first-child {
							padding-top: 0;
						}

						&:last-child {
							padding-bottom: 0;
						}

						.round {
							flex: none;
							display: flex;
							align-items: center;
							column-gap: 6px;
							height: 42px;
							padding: 0 16px;
							border: 1px solid #1A1A1A;
							border-radius: 21px;
							background-color: #fff;
							font-weight: 700;
							font-size: 16px;

							.number {
								color: #FD312E;
								font-size: 24px;
							}
						}

						p {
							flex: 1;
							font-weight: 700;
							font-size: 18px;
							line-height: 24px;
							text-align: left;
						}
					}
				}

				.button {
					width: 100%;
					margin-top: auto;

					&__row {
						justify-content: center;
					}
					
					&__item {
						max-width: 320px;
						height: 64px;
						font-size: 18px;
					}
				}
			}
		}

		@media (max-width: 1024px) {
				
			.coupon {

				&__premier {
					margin-top: 20px;
					padding: 40px 20px 30px;
					border-radius: 20px;

					.coupon {

						&__text {
							margin-top: 10px;
							font-size: 16px;
							line-height: 20px;
						}
					}

					.list {
						margin-top: 30px;

						&__item {
							display: block;

							&:not(:last-child) {

								p {

									&:before {
										left: 0;
									}
								}
							}

							.round {
								display: inline-flex;
								column-gap: 2px;
								height: 30px;
								padding: 0 10px;
								font-size: 15px;

								.number {
									font-size: 18px;
								}
							}

							p {
								margin-top: 10px;
								text-align: center;

								
							}
						}
					}

					.button {
						margin-top: 30px;

						&__item {
							height: 52px;
							font-size: 16px;
						}
					}
				}
			}
		}
	}
	.product {
		&__cost {
			font-size: 23px;
			@media screen and (min-width: 1024px) and (max-width: 1440px) {
				font-size: 20px;
			}
		}

		&__price {

			div {
				display: flex;
				flex-direction: column;
			}
		}

		&__info {
			.unit {
				margin-left: -5px;
			}
		}

		&__flags {
			@media (max-width: 1280px) {
				flex-direction: column;
				align-items: flex-start;
	
				.product__flag {
					align-items: flex-start;
					padding: 0 4px;
					line-height: 15px;
				}
			}
		}
	}
	.section {
		&__anchor {
			p {
				padding: 5px 5px;
				@media screen and (max-width: 1024px) {
					font-size: 13px;
				}
			}
		}
	}

	.visual {

		&__visual {
			background-image: url('../images/vn/bg_visual.png');
		}

		@media (max-width: 1024px) {

			&__visual {
				background-image: url('../images/vn/m_bg_visual.png');
			}
		}
	}

	.experience {

		.tab {

			&__panel {

				&--working {

					.showroom {

						&__item {
							background-image: url('../images/vn/bg_showroom_working01.png');
						}

						&__layer {

							&:nth-child(1) {
								left: 33.83%;
								top: 48.85%;
							}

							&:nth-child(2) {
								left: 70%;
								top: 48.85%;
							}
						}
					}
				}

				&--homekeeping {

					.showroom {

						&__item {
							background-image: url('../images/vn/bg_showroom_homekeeping01.png');
						}

						&__layer {

							&:nth-child(2) {
								left: 56.67%;
								top: 65.38%;
							}

							&:nth-child(3) {
								left: 31.67%;
								top: 48.08%;

								.showroom__target {
									left: 50%;
									top: auto;
									bottom: 52px;
									@include mixins.transform(translate(-50%, 0));
								}
							}
						}
					}
				}

				&--energysaving {

					.showroom {

						&__item {
							background-image: url('../images/vn/bg_showroom_energysaving01.png');
						}

						&__layer {

							&:nth-child(1) {
								left: 61.67%;
								top: 17.31%;
							}

							&:nth-child(2) {
								left: 57.83%;
								top: 70%;

								.showroom__target {
									left: 52px;
									right: auto;
								}
							}
						}
					}
				}
			}
			&__button {
				text-transform:none;
			}
		}

		@media (max-width: 1024px) {

			.tab {

				&__list {
					top: 282px;
				}

				.section {

					&__header {
						height: 252px;
					}
				}
			}
		}
	}
}

.lgmembersweek-terms * {
	color: #333;
	font-size: 20px;
	word-break: break-all
}

@media(max-width: 1024px) {
	.lgmembersweek-terms * {
			font-size:16px;
			line-height: 24px
	}
}

.lgmembersweek-terms__wrap {
	position: relative;
	padding: 5.21vw 0 6.25vw;
	max-width: 1344px;
	margin: 0 auto;
	padding-top: 90px;
	text-align: left
}

@media(max-width: 1024px) {
	.lgmembersweek-terms__wrap {
			padding:60px 6.25vw
	}
}

.lgmembersweek-terms h3 {
	margin-left: -30px;
	margin-bottom: 120px;
	color: #000;
	font-size: 60px;
	line-height: 60px;
	font-weight: 600
}

@media(max-width: 1024px) {
	.lgmembersweek-terms h3 {
			margin-bottom:60px;
			margin-left: -15px;
			font-size: 36px;
			line-height: 44px
	}
}

@media(max-width: 767px) {
	.lgmembersweek-terms h3 {
			font-size:24px;
			line-height: 30px;
			letter-spacing: -1px
	}
}

.lgmembersweek-terms .sub-title {
	font-weight: bold
}

.lgmembersweek-terms .list {
	margin-top: 10px
}

.lgmembersweek-terms .list li {
	position: relative;
	margin: 25px 0;
	padding-left: 25px;
	line-height: 1.8
}

@media(max-width: 1024px) {
	.lgmembersweek-terms .list li {
		margin:10px 0;
		padding-left: 5px;
		li {
			padding-left: 0;
		}
	}
}

.lgmembersweek-terms .list span {
	position: absolute;
	top: 20px;
	left: 0;
	width: 5px;
	height: 2px;
	background-color: #000;
	content: ""
}

.lgmembersweek-terms .info {
	display: block;
	margin: 25px 0;

	@media(max-width: 1024px) {
		margin: 10px 0;
	}
}

.lgmembersweek-terms .info dt,.lgmembersweek-terms .info dd {
	display: inline-block
}

.lgmembersweek-terms table {
	width: 100%;
	border: 1px solid #000
}

.lgmembersweek-terms table th {
	padding: 15px;
	background-color: #fff;
	text-align: center;
	@media(max-width: 1024px) {
		padding: 5px;
	}
}

.lgmembersweek-terms table th+th {
	border-left: 1px solid #000
}

.lgmembersweek-terms table td {
	padding: 15px;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	@media(max-width: 1024px) {
		padding: 5px;
		font-size: 14px;
		line-height: 15px;
	}
}
.lgmembersweek-terms table td:nth-child(2) {
	width: 60%;
	@media(max-width: 1024px) {
		width: 50%;
	}
}

.lgmembersweek-terms table td:last-child {
	text-align: center
}

.lgmembersweek-terms span.dot {
	position: absolute;
	top: 16px;
	left: 10px !important;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: #000
}

.lgmembersweek-terms .list2 {
	margin-top: 10px
}

.lgmembersweek-terms .list2 li {
	position: relative;
	margin: 25px 0;
	padding-left: 25px;
	line-height: 1.8
}

@media(max-width: 1024px) {
	.lgmembersweek-terms .list2 li {
			margin:10px 0
	}
}

.lgmembersweek-terms .list2 span {
	position: absolute;
	left: 0
}

.lgmembersweek-terms table+.sub-title {
	margin-top: 60px
}

.lgmembersweek-terms .list2+.sub-title {
	margin-top: 60px
}
