@charset 'UTF-8';
@use 'mixins';

.lgmembersdays {

	.visual {

		&__visual {
			background-image: url('../images/bg_visual.png');
		}

		@media (max-width: 1023px) {

			&__visual {
				background-image: url('../images/m_bg_visual.png');
			}
		}
	}

	.benefit-more {

		&__item {

			&:nth-child(1) {

				.benefit-more__ico {
					background-image: url('../images/ico_benefit01.svg');
				}
			}

			&:nth-child(2) {

				.benefit-more__group {
					margin-right: 32px;
				}

				.benefit-more__ico {
					background-image: url('../images/ico_benefit02.png');
				}
			}

			&:nth-child(3) {

				.benefit-more__ico {
					background-image: url('../images/ico_benefit03.svg');
				}
			}
		}

		@media (max-width: 1024px) {

			&__item {

				&:nth-child(2) {
					
					.benefit-more__group {
						margin-right: 12px;
					}
				}
			}
		}
	}

	.product__group {
		&.product__discount {
			min-height: 24px;
		}
	}
	.product__soldout {
		min-height:  64px;
	}

	.sectionBuying {
		.product {
			.slick-list {
				@media screen and (min-width: 1024px) {
					.slick-slide {
						margin: 0 !important;
					}
					.product__item {
						width: calc((100% / 4) - 18px) !important;
						margin-left: 24px;
						&:nth-child(1),
						&:nth-child(4n + 1) {
							margin-left: 0;
						}
					}
				}
			}
		}
	}

	
}