@charset 'UTF-8';
@use 'mixins';

.lgmembersweek {
	.visual__visual {
		background: url(../images/it/bg_visual.png) no-repeat 50% bottom;
		background-size: cover;
		@media screen and (min-width: 1920px) {
			background-position: left 50% bottom -80px;
		}
		@media screen and (min-width: 2000px) {
			background-size: auto 100%;
			background-position: 50% bottom;
		}
	}

	.experience {

		.tab {

			&__panel {

				&--homekeeping {

					.showroom {

						&__item {
							background-image: url('../images/it/bg_showroom_homekeeping01.png');
						}
					}
				}

				&--energysaving {

					.showroom {

						&__item {
							background-image: url('../images/it/bg_showroom_energysaving01.png');
						}
					}
				}
			}
		}
	}

	.product {

		&__price {

			div {
				display: flex;
				flex-direction: column;
			}
		}

		&__info {
			.unit {
				margin-left: -5px;
			}
		}
	}

	.benefit {
		.coupon__benefit .benefit-list__item {
			.benefit-list__text--secondary {
				margin-top:10px;
			}
		}
	}
}